# cache:
#   key: "$CI_BUILD_REF_NAME"
#   untracked: true
#   paths:
#     - build/

# image: mfixexa
  image: mwm126/mfix-ctest

variables:
  CC: "gcc"
  CTEST_OUTPUT_ON_FAILURE: "1"
  CXX: "g++"
  ENABLE_MPI: "0"
  ENABLE_OMP: "0"
  FC: "gfortran"
  MFIX_BENCHMARKS_HOME: "/nfs/home/0/users/jenkins/exa-benchmarks/MFIX-benchmarks"
  MODULES: "git/2.16.2 cmake gnu/6.1.0"

.test: &test_template
  script:
    # - module purge; module load $MODULES
    - mkdir build
    - cd build
    - env F77=$FC F90=$FC cmake -DAMREX_ENABLE_MPI=$ENABLE_MPI -DAMREX_ENABLE_OMP=$ENABLE_OMP ..
    - make -j 4
    - cd mfix
    - ctest -R $TEST_REGEX
  tags:
    - docker
  retry: 2


single-grid-serial:
  variables:
    TEST_REGEX: "SGS"
  <<: *test_template

multiple-grid-serial:
  variables:
    TEST_REGEX: "MGS"
  <<: *test_template

.multiple-grid-parallel:
  variables:
    CC: "mpicc"
    CXX: "mpic++"
    ENABLE_MPI: "1"
    FC: "mpifort"
    MODULES: "git/2.16.2 cmake gnu/6.1.0 openmpi/1.10.2_gnu6.1"
    TEST_REGEX: "MGP"
  <<: *test_template

tiled-grid-serial:
  variables:
    TEST_REGEX: "TGS"
  <<: *test_template

.tiled-grid-parallel-openmp:
  variables:
    ENABLE_OMP: "1"
    TEST_REGEX: "TGP"
  <<: *test_template
